{% extends "base.html" %}
{% load tagging_tags %}

{% block title %}{{ request.tag }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/solarized_light.css" />
{% endblock %}

{% block head_js %}
    <script src="{{ STATIC_URL }}highlight/highlight.pack.js"></script>
{% endblock %}

{% block page_content %}
    {% for object in object_list %}
    <div class="row-fluid">
        <h2><a href="{% url detail_article object.id %}">{{ object.title }}</a></h2>
        <div class="article-text">
        {{ object.rendered_text|safe|truncatewords_html:60 }}
        </div>

        {% tags_for_object object as tags %}
        <p>
            {% include "articles/snippets/object_tags.html" %}
        </p>
        <p>
            <a class="btn" href="{% url detail_article object.id %}">Читать полностью</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}

{% block right_menu %}
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          {% if object.author.id == request.profile.id %}
          <li class="nav-header">Действия</li>
          <li class="active"><a href="{% url edit_article object.id %}">Редактировать</a></li>
          {% endif %}
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
{% endblock %}

{% block bottom_js %}
    <script>
        $(function() {
            $('div pre').each(function(i, e) {
                hljs.highlightBlock(e, '    ')
            });
        });
    </script>
{% endblock %}