<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>PyStars.Com</title>
</head>
<body>
<h1>Сообщество разработчиков на языке Python</h1>
<h2>Для владельцев бизнеса:</h2>
<ul>
    <li>Сайты на питоне пишутся очень быстро</li>
    <li>Сайты на питоне работают действительно быстро</li>
    <li>Сайты на питоне гибки. Любые ваши пожелания к вашему сайту или сервису легко реализуемы</li>
    <li>Сайты на питоне легко поддерживаются и модифицируются</li>
    <li>На питоне редко пишут неквалифицированные "специалисты" и шансы нарваться на непрофессионала не высоки</li>
    <li>Сайты должны постоянно меняться, подстраиваться под бизнес, под рынок. Мы понимаем это, поэтому всегда пишем код так, что бы с ним легко было работать в будущем</li>
</ul>
<h2>Для людей, которые хотят научиться делать сайты:</h2>
<ul>
    <li>Вы скоро найдете информацию о том, как писать сайты на питоне в нашем блоге</li>
    <li>Вы найдете поддержку и совет на нашем форуме</li>
    <li>Для тех, кто хочет научиться быстро мы откроем курсы для новичков</li>
</ul>
<div>
Для заинтересовавшихся: +7(906)715-17-25
Или пишите: va.bolshakov@gmail.com
</div>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter10371052 = new Ya.Metrika({id:10371052, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/10371052" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>